// custom variables
$primary: #b3906e;
$success: #4caf7f;
$warning: #c99f47;
$danger: #f44336;
$info: #23426d;


@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";


$custom-theme-colors: (
    "ltshade": #f8f7f7,
    "ltaccent": #b5afaa,
    "dkaccent": #8d8d8e,
    "dkshade":  #36363c,
);
// ltaccent -> ltshade -> dkshade -> ltshade -> dkshade
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';